<app-header></app-header>
<form
  [formGroup]="userForm"
  novalidate
  (ngSubmit)="onSubmit()"
  fxLayoutAlign="center center"
>
  <mat-card class="form-card" fxFlex="500px" fxFlex.xs="100%">
    <mat-card-header>
      <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Login" formControlName="login" />
            <mat-error *ngIf="userForm.controls['login'].hasError('required')">
              O login do usuário é <strong>obrigatório</strong>
            </mat-error>
            <mat-error *ngIf="error['login']">
                {{error.login[0]}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type='password' placeholder="Senha" formControlName="password" />
            <mat-error *ngIf="userForm.controls['password'].hasError('required')">
              A senha do usuário é <strong>obrigatória</strong>
            </mat-error>
            <mat-error *ngIf="error['password']">
                {{error.password[0]}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Nível de acesso" formControlName='role_id'>
              <mat-option *ngFor="let role of roles" [value]="role.id">
                {{role.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="userForm.controls['role_id'].hasError('required')">
              O nível de acesso do usuário é <strong>obrigatório</strong>
            </mat-error>
            <mat-error *ngIf="error['role_id']">
              {{error.role_id[0]}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">SALVAR</button>
    </mat-card-actions>
  </mat-card>
</form>
