<mat-toolbar color='primary' class='main-toolbar'>
  <mat-toolbar-row>
    <span class='title'>{{title}}</span>
    <button mat-button routerLink="/">
      Home
    </button>
    <!-- <div fxFlex fxLayout fxLayoutAlign="flex-end">
      <button mat-icon-button disabled>
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div> -->
  </mat-toolbar-row>
</mat-toolbar>
